@{
    ViewData["Title"] = "Home Page";
}

<div style="background-color:transparent"; class="text-center">
    <h1 class="display-4"><i>Iowa Indian Restaurant</i></h1>
    <p><i>Delicious food is a small but powerful way of humans experiencing happiness. What started as a delicacy in the royal 
    kitchens of the Nizam of Hyderabad and would be served as the centerpiece of wedding feasts has now enthralled the Indian
    population of all strata for centuries.        
    We have seen a billion people derive great satisfaction from a plate of authentic, flavorful royal cuisine (biryani) and 
    wanted America to experience this pleasure as our signature dish</i></p>
</div>
