@model IEnumerable<FoodOrderingKingslee.Models.Varities>

@{
    ViewData["Title"] = "Index";
}

<h1>Main Menu</h1>



@foreach (var item in Model)
{
    <div class="thead-dark">
        <b> @Html.DisplayFor(m => item.Name)</b>
    </div>
    <div>

        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Price</th>
                </tr>
            </thead>
            @foreach (var menu in item.Menus)
            {
                <tr class="thead-light">
                    <td>@Html.DisplayFor(m => menu.Name)</td>
                    <td>@Html.DisplayFor(m => menu.Price)</td>
                </tr>
            }
        </table>
    </div>
}
